
html {
  min-height: 100%;
}

body {
  max-width: 44em;
  margin: 50px auto 15px auto;
  padding: 0;
  overflow-wrap: break-word;
  header#page-header {
    position: relative;
    button#font-btn {
      position: absolute;
      right: 0;
    }

    h1#title {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      margin: 0 auto;
      ul {
        margin: 0 5%;
        padding: 0;
      }
    }
  }
}


main {
  margin: auto 1em;
  article {
    margin: 1.5em auto 2.5em auto;
    p {
      margin: 1em;
    }
    header {
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      time {
        margin-bottom: 0.5em;
        margin-left: auto;
      }
    }
  }
  footer nav#blog {
    height: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 1em;
  }
}

button {
  text-align: center;
  height: 2em;
  margin: 0.5em 1em;
}

div.media-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
