$face-big: "Fira Sans", sans-serif;
$face-medium: "Merriweather", serif;
$face-small: "Fira Sans Light", sans-serif;
$face-code: "Fira Code", monospace;

@media screen and (min-width: 320px) {
  #avatar { width: 96px; }
  body {
    font-size: calc(1.5rem + 1vw);
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: calc(1rem + 0.75vw);
  }
}

@media screen and (min-width: 1080px) {
  #avatar { width: 64px; }
  body {
    font-size: 19px;
  }
}

@media
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi){
  html body {
    font-size: 2em;
  }
}

@media
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi){
  html body {
    font-size: 2.3em;
  }
}

html {
  font-family: "Fira Sans", sans-serif;
  font-variant-ligatures: normal;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  -webkit-text-size-adjust: none;
}

article {
  font-family: "Fira Sans Light", "Fira Sans", sans-serif;
  font-weight: 300;
}

nav#blog, button, .post-header {
  font-family: "Fira Code", monospace;
  time {
    font-feature-settings: "onum" 1;
    font-size: smaller;
  }
}

button {
  font-size: 0.8em;
  font-weight: bold;
  #font-btn {
    font-style: italic;
  }
}

h1, h2 {
  font-family: $face-big;
  font-weight: bold;
  margin: 0.5em 0 0.25em;
}

h3, h4 {
  font-family: $face-medium;
}

h1 {
  font-size: 1.4em;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1em;
  font-weight: bold;
}
h4 {
  font-size: 1em;
  font-style: italic;
}