@import "structures";
@import "typography";

$text-dark: #444;
$text-light: #fff;
$text-mid-tone: #666;
$anchor: #346d99;
$anchor-active: #d60;

body {
  background: radial-gradient(circle at -20% -20%,
          #f80b,
          #8842 70%),
  radial-gradient(circle at 25% 125%,
          #0cf7,
          #4ff0 70%),
  radial-gradient(circle at 150% 50%,
          #80f6,
          #f480 100%),
  radial-gradient(circle at 100% 50%,
          #ffff,
          #fff0 100%), #ddd no-repeat center center fixed;

  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;

  color: $text-dark;

  &#mobile-webkit {
    //old webkit doesn't recognize simplified rgba hex colors.
    background: linear-gradient(-50deg, rgba(104, 32, 96,0.6), rgba(255, 128, 0, 0.5)), #FEF;
  }
}

#avatar {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
}

a {
  color: $anchor;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    color: $anchor-active;
  }
}

time {
  color: $text-mid-tone;
}

button{
  border: #ffff;
  border-radius: 0.18em;
  background: #fff3;
  color: $text-light;
}

h1 {
  color: $text-light;
}

img {
  image-rendering: auto;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}