{{ define "subcontent" }}
<article class="post">
  <header class="post-header">
    <h2><a href="/blog?post={{$.Uid}}" id="{{$.Title}}">{{$.Title}}</a></h2>
    <time datetime="{{.PostDate | formatDate }}">{{.PostDate | formatDate }}</time>
  </header>
  {{$.Body}}
</article>
{{ end }}

{{ define "content" }}
    {{template "subcontent" .}}
{{ end }}