{{ define "content" }}
<article>
  <h2>{{if fieldExists "Title" .}}{{.Title}}{{else}}{{.Status}}{{end}}</h2>
  <p>
  {{if fieldExists "Body" .}}
    {{.Body}}
  {{else}}
    {{.Message}}
  {{end}}
  </p>
</article>
{{ end }}