<html>
<head>
    <style>
body {
    text-align: center;
    margin-top: 240px;
}
    </style>
</head>
<body>
<h1>Error {{ .Status }}</h1>
<h2>{{ .Message }}</h2>
<footer>
    Developed by <a href="https://github.com/dwbrite/teacup">Devin Brite</a>.
</footer>
</body>
</html>