$face-sans: "Fira Sans", sans-serif;
$face-serif: "Merriweather", serif;
$face-code: "Fira Code", monospace;

@media screen and (min-width: 320px) {
  body {
    font-size: calc(1.2rem);
  }
}

@media screen and (min-width: 1080px) {
  #avatar { width: 64px; }
  body { font-size: 19px; }
}


body {
  font-family: $face-sans;
  font-variant-ligatures: normal;
  font-feature-settings: "kern" 1;
  font-feature-settings: "zero" 1;
  font-kerning: normal;
  -webkit-text-size-adjust: none;

  overflow-wrap: break-word;
}

article {
  font-family: $face-sans;
  word-break: keep-all;
  overflow-wrap: break-word;

  a {
    overflow-wrap: anywhere;
  }

  b, strong {
    font-weight: 500;
  }
}

nav#blog, button, .post-header,  {
  font-family: $face-code;
  word-break: keep-all;
  overflow-wrap: normal;
  white-space: nowrap;
  text-wrap: none;
  time {
    font-size: smaller;
  }
}

code, ol>li::marker {
  font-family: $face-code;
  font-size: smaller;
}

button {
  font-size: 0.8em;
  font-weight: bold;
  #font-btn {
    font-style: italic;
  }
}

// headings
body {
  h1 {
    font-family: $face-sans;
    font-size: 1.4em;
    font-weight: bold;
  }

  h2, h3, h4 {
    font-family: $face-serif;
  }

  h2 {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0.5em 0 0.25em;
  }

  h3 {
    font-size: 1em;
    font-weight: bold;
  }

  h4 {
    font-size: 1em;
    font-style: italic;
  }
}
