@import "structures";
@import "typography";

$text-dark: #444;
$text-light: #fff;
$text-mid-tone: #666;
$anchor: #346d99;
$anchor-active: #d60;

body {
  background:
          radial-gradient(circle at -20% -20%, #f80b, #8842 70%),
          radial-gradient(circle at 25% 125%, #0cf7, #4ff0 70%),
          radial-gradient(circle at 150% 50%, #80f6, #f480 100%),
          #eee no-repeat center center fixed;


  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;

  color: $text-dark;

  &#mobile-webkit {
    //old webkit doesn't recognize simplified rgba hex colors.
    //background: linear-gradient(90deg, #f80b, #FBE, #80f6), #FCC;
    background:
            radial-gradient(circle at -20% -20%, #f80b, #8842 70%),
            radial-gradient(circle at 75% 125%, #a6f6, #f4c0 100%),
            #ddd no-repeat center center fixed;
  }
}

#avatar {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
}

a {
  color: $anchor;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    color: $anchor-active;
  }
}

time {
  color: $text-mid-tone;
}

button{
  border: #ffff;
  border-radius: 0.18em;
  background: #fff3;
  color: $text-light;
}

h1 {
  color: $text-light;
}

hr {
  width: 80%;
  border: 1px solid $text-mid-tone;
  border-bottom: 0;
}

blockquote {
  border-left: 2px solid $text-mid-tone;
}

img {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  &.quality-img {
    image-rendering: auto;
    image-rendering: high-quality;
  }

  &.bordered {
    outline: 1px inset lightgray;
  }
}
